body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #80ffcc;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  padding: 4px;
  border-radius: 444px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  background-color: #ff80bf;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff66a3;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-box {
  animation: fadeInDown 1s ease;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#forgotPassword {
  background-color: transparent;
  border: none;
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease;
}

#forgotPassword:hover {
  color: #333;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link a {
  color: #ff80bf;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}


button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #80ffcc; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #66ff99; 
}

#forgotPassword {
  color: #66cc99; 
}

#forgotPassword:hover {
  color: #33cc66; 
}

.signup-link a {
  color: #80ffcc; 
}

.signup-link a:hover {
  text-decoration: underline;
  color: #66ff99; 
}